<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Hasta pronto</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div styles="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <h1>¡Hasta pronto, <%= name %>!</h1>
    <p>Gracias por visitar la galería. ¡Te esperamos pronto!</p>
   <p><a href="/home">Volver al inicio</a></p> 
  </div>
  <%- include('partials/footer') %>
</body>
</html>
 