<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso restringido </title>
     <link rel="stylesheet" href="styles.css">
</head>
<body>
<%- include('partials/navbar') %>
    <h1>Acceso restringido</h1>
    <p>Para acceder a esta secci칩n, debes iniciar sesi칩n.</p>
    <p><a href='/auth/google'>Autentificaci칩n con Google</a></p>
    <p><a href="/home">Volver a la p치gina principal</a></p>

  <%- include('partials/footer') %>
</body>
</html>